.container{

    border: 1px solid black;
    width: 900px;
    padding: 20px;
    font-family: verdana;
    margin: auto;

}


p {

    font-family: "Times New Roman";
    font-weight: bold;

}


fieldset{
    margin-bottom: 10px;
}

fieldset input{
    margin-bottom: 8px;
    margin-right: 5px;

}



body
{

    margin: 0px;
    padding: 0px;
    background-color: lightsteelblue;
}

label {
    float: left;
    width: 271px;
    text-align: justify;
    margin-top: 12px;
    clear: left;

}
input, textarea {margin-top: 12px;}

#submit {
    margin-top: 12px;
    background-color: blueviolet;
    border-bottom-style: wave;
}

h1 {
    text-align: center;
    font-family: Georgia;
    font-weight: bold;
}